*{
    background-color:rgb(231, 240, 240);
}
#products{
    display:grid;
    gap:30px;
}

select{
    display:grid;
    margin:auto;
    text-align: center;
    color:white;
    width:60%;
    background-color:grey;
    font-size: 25px;
    margin-top: 30px;

}
#product{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    margin:auto;
    gap:25px;
    width:80%;
    
}
#product>div{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#product :nth-child(3)>img{
   border:1px solid black; 

}